<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">
      {% if page == 'login'%}
        Login into Coala
        {% else %}
        Create account in Coala
      {% endif%}
    </h5>
    <div class="container">
      <form action="" method="post">
      <div class="row" style="margin-bottom: 1em;">
        <input type="email" class="form-control" placeholder="Email" aria-label="email" id="email" name="email">
      </div>

      <div class="row" style="margin-bottom: 1em;">
        <input type="password" class="form-control" placeholder="password" aria-label="password" id="password" name="password">
      </div>

      {%if page == 'signup'%}
        <div class="row" style="margin-bottom: 1em;">
          <input type="password" class="form-control" placeholder="repeat password" aria-label="repeat-password" id="repeat_password" name="repeat_password">
        </div>
      {% endif %}

      <div class="row">
        <button class="btn btn-primary" type="submit">Access to coala</button>
      </div>
      </form>
    </div>
  </div>
</div>